//Color

$base-color: rgb(255, 255, 255);

$stack-color: rgb(201, 52, 40);


//Font-size



//Font-Family

$Tahoma: 'Tahoma', sans-serif;
$AR: 'ArialRegular', sans-serif;
$ABL: 'ArialBlack', sans-serif;
$AB: 'ArialBold', sans-serif;
$ABI: 'ArialBoldItalic', sans-serif;
$ABI: 'ArialItalic', sans-serif;